doctype html
html(lang="ca")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="csrf-token" content= csrfToken)
        title Finques | #{pagina}
        block styles
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-blue-500
        include includes/header-admin

        main(class="mx-auto container mt-6 px-2 bg-blue-500")
            block blockcontent

        script( src="/js/translateFetch.js")
        block scripts
